dotfiles_old
vim/.vim
vim/.netrwhist
emacs.d/elpa*
emacs.d/eshell
emacs.d/projectile-bookmarks.eld
emacs.d/session*
emacs.d/init-files/personal.el
mutt/header_cache
mutt/user
mutt/aliases
mutt/pass.gpg
mpd/mpd.db
mpd/mpd.log
mpd/mpd.pid
mpd/mpdstate
mpd/playlists/
ncmpcpp/error.log
*.swo
*.swp
*~
